.preferenceForm{
  padding: 12px 12px;
  text-align: left;
  .preferenceFormLabel::after{
    content: ":";
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
  }
  .preferenceFormRight{
    width: 160px;
    display: inline-block;
  }
}
.preferenceContainer{
  width: 300px;
  text-align: center;
  height: 600px;
}
