.clipperToolContainer {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: initial;
    left: initial;
    width: 324px;
    height: auto;
    border: 0px;
    z-index: 2147483646;
    display: block !important;
    background: #fff;
    border: 2px solid #DDDDDD;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
}

.closeButton {
    position: absolute;
    right: 16px;
    top: 10px;
}
.previewContainer{
    background-color: rgba(0,0,0,.6);
    z-index: 2147483646;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.settingContainer{
  position: fixed;
  right: 350px;
  top: 12px;
  background: white;
}
