#crossLine{
  position: fixed;
  height:  100%;
  width: 100%;
  z-index: 2147483645;
}
#crossLine::before{
  border: none;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2147483645;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  left: -100%;
  top: -100%;
}
#crossLine::after{
  border: none;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2147483645;
  border-top: 1px solid red;
  border-left: 1px solid red;
  left: 0;
  top: 0;
}
#selectArea{
  border: 1px solid red;
  position: fixed;
}
