.simpread-highlight-selector{
    background-color: #fafafa !important;
    outline: 3px dashed #1976d2 !important;
    opacity: .8 !important;
    cursor: pointer !important;
    transition: opacity .5s ease !important;
}
