.preview{
    position: absolute;
    top: 0px;
    right: 330px;
    width: 400px;
    height: auto;
    background: white;
}
.previewContainer{
    background-color: rgba(0,0,0,.6);
    z-index: 2147483646;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.previewTitle{
    color: white;
    background: black;
    height: 32px;
    span{
        padding: 10px;
        font-size: 16px;
        cursor: default;
        line-height: 32px;   
    }
}
.previewContent{
    padding: 10px;
}
