@import '../../../styles/global.scss';

body {
  width: 100%;
  height: 100%;
}
.Header{
    background: white;
    text-align: center;
}
.initializeForm{
    background: #ffffff; 
    padding: 24px; 
    min-height: 500px;
    min-width: 500px;
    margin: 100px;
    padding: 20px;
}
