.header{
    background: white;
    text-align: center;
}
.footer{
    text-align: center;
}
.form{
    background: #ffffff; 
    padding-top: 10px;
    min-height: 500px;
    width: 900px;
    margin: 40px auto 0;
    padding: 20px;
}
.form-main{
    margin: 40px auto 0;
}

.initializeWindow{
  height: 100%;
}
.layouy{
  height: 100%;
}
