#main-tool {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 18px;
    .section {
        padding-top: 16px;
        text-align: left;
    }
    .section-title {
        text-align: left;
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        line-height: 1.5;
        margin: 0 0 8px 0;
    }
    .menu-button {
        span{
            font-size: 16px;
        }
    }
}
