.mainContent {
  width: 960px;
  height: 600px;
  padding: 10px;
  background: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
  border: 2px solid #dddddd;
  :global {
    .ant-tabs-content {
      height: 100%;
    }
  }
}

.closeIcon {
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
  z-index: 10000;
}
.updatePrompt {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 10000;
}
.tabPane {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}
